html,
body {
  height: 100%;
}
body {
  min-height: 100svh;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #ededed;
  box-sizing: border-box;
  overflow-y: hidden;
}
@media (max-width: 768px) {
  body {
    overflow-y: auto;
  }
}
